@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --primary-bg-color: #f0f4f8;
  --color-gray: #e9e9ed;
  --color-black: #000000;
  --primary-text-color: #333;
  --secondary-text-color: #555;
  --input-bg-color: #fff;
  --button-text-color: #000000;
  --error-color: #ff4d4f;
  --shadow:rgba(0, 0, 0, 0.16) 0px 1px 4px 0px; 
  --loader-bg: rgba(255, 255, 255, 0.8);
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", serif;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.header {
  width: 100%;
  box-shadow: var(--shadow);
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  max-width: 1200px;
  padding: 10px 20px;
  margin: 0 auto;
}

.navbar span {
  font-size: 32px;
}

.location-form {
  display: flex;
  gap: 10px;
  align-items: center;
}

#city {
  padding: 10px;
  flex-grow: 1;
  border: 1px solid var(--primary-bg-color);
  border-radius: 5px;
  background-color: var(--input-bg-color);
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: var(--color-gray);
  color: var(--button-text-color);
  transition: filter 0.15s ease-in-out;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

#error {
  color: var(--error-color);
  font-size: 14px;
}

.container {
  width: 90%;
  max-width: 1150px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--input-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.title-section {
  text-align: center;
}

.title-section h2 {
  margin: 0;
  font-size: 24px;
  color: var(--primary-text-color);
}

.title-section p {
  margin: 5px 0;
  font-size: 16px;
  color: var(--secondary-text-color);
}

.weather-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.card {
  padding: 20px;
  background-color: var(--input-bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.current-weather h3, .upcoming-weather h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--primary-text-color);
}

.temperature {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forecast {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.forecast div {
  border: 1px solid;
  text-align: center;
  border-right-width: 3px;
  border-top-width: 2px;
}

.temperature p,
.forecast p {
  margin: 0;
}

.temperature {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.temp-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-icon {
  font-size: 50px;
  color: var(--color-black);
}

#location-temperature {
  font-size: 24px;
  color: var(--primary-text-color);
}

.weather-info {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.weather-info p {
  flex: 1 1 45%;
  font-size: 16px;
  color: var(--secondary-text-color);
}

.forecast-icon {
  font-size: 32px;
}

#loader {
  position: absolute;
  display: flex;
  height: 14vh;
  width: 1150px;
  justify-content: center;
  align-items: center;
  background-color: var(--loader-bg);
  font-size: 2rem;
}

.invisible {
  display: none !important;
}